.btn-send-email{
    border-radius: 30px;
    padding: 9px 14px;
    color: #fff;
    background-color: #099e66;
    border-radius: 1px solid #099e66 !important;
    font-size: 14px;
    width: 30%;
}

