.input{
    background-color: #222222;
    border: none;
    outline: none;
    width: 100%;
    min-height: 128px;
    color: #777;
    border-bottom: 1px solid #1d1d1d;
    border-radius: 2px;
    font-size: 15px;
    padding: 9px 14px;
}

.input:focus{
    
    outline: none;
    outline-width: 0;
    border-bottom: 1px solid #099e66;
    background-color: #222222;
}

.form-group{
    margin-bottom: 25px;
}